<div class="formSection">
    <form name="contactForm" #contactForm="ngForm" (ngSubmit)="validateCForm(contactForm)">
        <fieldset>
            <div>
                <input appForbiddenName="bob" type="text" name="firstname" [(ngModel)]="fnameval" minlength="4" placeholder="First Name"
                    #firstname="ngModel" required>
                <span *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
                    <i *ngIf="firstname.errors.required">Name is required</i>
                    <i *ngIf="firstname.errors.minlength">Min length should be 4</i>
                    <i *ngIf="firstname.errors.forbiddenName">forbiddenName</i>
                </span>
            </div>
            <div>
                <input type="text" name="lastname" placeholder="Last Name" [(ngModel)]="lnameval" #lastname="ngModel" required/>
                <span *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                    <i *ngIf="lastname.errors.required">Last name is required</i>
                    <i *ngIf="lastname.errors.minlength">Min length should be 4</i>
                    <i *ngIf="lastname.errors.forbiddenName">forbiddenName</i>
                </span>
            </div>
        </fieldset>
        <fieldset>
            <div>
                <input type="number" maxlength="3" name="age" placeholder="Age" [(ngModel)]="ageval" #age="ngModel"/>
                
            </div>
            <div>
                <input type="email" name="email" placeholder="Email" [(ngModel)]="emailVal" #email="ngModel" required/>
                <span *ngIf="email.invalid && (email.dirty || email.touched)">
                    <i *ngIf="email.errors.required">Email is required</i>
                    <i *ngIf="email.errors.forbiddenName">forbiddenName</i>
                </span>
            </div>
        </fieldset>
        <fieldset>
            <div class="textSpace">
                <textarea name="comments" placeholder="Comments" required></textarea>
            </div>
        </fieldset>
        <fieldset>
            <input type="submit" name="submit" value="Submit" />
        </fieldset>
    </form>
</div>
